.git.old/
.vscode
.history
app/.vscode
app/__pycache__
app-api/__pycache__
app/dev/gibbo_code/downloads
app/dev/realtimewater_api/data/test/downloads
app/formatting_scripts_rand
app/loading_scripts_rand
app/test
bkup
data/downloads
data/uploads
data/bulk_load
data/visualisations/elfin.csv
data/visualisations/greengully.csv
data/waterdata
data/webscraping
database/
data_csvs
dockerfiles/mariadb/initialize-database.sql
dockerfiles/mariadb/initialize-database.sql.bak
dockerfiles/mariadb/src/initialize-database.sql
dockerfiles/mariadb/src/initialize-database.sql.bak
frontend/app-dash/all_training_data.csv
frontend/jupytr/visualisations/formatted_data/
frontend/jupytr/visualisations/unformatted_data/
workspace.code-workspace
venv/
vendor
