.git.old/
.vscode
.history
app/emutils_standalone.py
app/file_write_test.py
app/.vscode
app/__pycache__
app-api/__pycache__
app/dev/gibbo_code/downloads
app/dev/realtimewater_api/data/test/downloads
database/
venv/
data/downloads
data/uploads
data/bulk_load
data/waterdata
data_csvs
data/webscraping
dockerfiles/mariadb/initialize-database.sql
dockerfiles/mariadb/initialize-database.sql.bak
dockerfiles/mariadb/src/initialize-database.sql
dockerfiles/mariadb/src/initialize-database.sql.bak
app/formatting_scripts_rand
app/loading_scripts_rand
bkup
old_docker
workspace.code-workspace
vendor
pytorch_tut

data/visualisations/elfin.csv
data/visualisations/greengully.csv
frontend/app-dash/all_training_data.csv
frontend/jupytr/visualisations/formatted_data/correct_54151_rainfall_data.csv
frontend/jupytr/visualisations/formatted_data/fmt_2col_bore_data.csv
frontend/jupytr/visualisations/formatted_data/fmt_3col_bore_data.csv
frontend/jupytr/visualisations/formatted_data/fmt_all_rainfall_data.csv
frontend/jupytr/visualisations/formatted_data/fmt_all_stream_data.csv
frontend/jupytr/visualisations/formatted_data/.ipynb_checkpoints/correct_54151_rainfall_data-checkpoint.csv
frontend/jupytr/visualisations/formatted_data/.ipynb_checkpoints/fmt_2col_bore_data-checkpoint.csv
frontend/jupytr/visualisations/formatted_data/.ipynb_checkpoints/fmt_3col_bore_data-checkpoint.csv
frontend/jupytr/visualisations/formatted_data/.ipynb_checkpoints/fmt_all_bore_data-checkpoint.csv
frontend/jupytr/visualisations/formatted_data/.ipynb_checkpoints/fmt_all_data-checkpoint.csv
frontend/jupytr/visualisations/formatted_data/.ipynb_checkpoints/fmt_all_rainfall_data-checkpoint.csv
frontend/jupytr/visualisations/formatted_data/.ipynb_checkpoints/fmt_all_stream_data-checkpoint.csv
frontend/jupytr/visualisations/formatted_data/old/fmt_2col_bore_data.csv
frontend/jupytr/visualisations/formatted_data/old/fmt_3col_bore_data.csv
frontend/jupytr/visualisations/formatted_data/old/fmt_all_bore_data.csv
frontend/jupytr/visualisations/formatted_data/old/fmt_all_data.csv
frontend/jupytr/visualisations/formatted_data/old/fmt_all_stream_data.csv
frontend/jupytr/visualisations/unformatted_data/GW_2col/GW030233.1.1_20201210_2010-2010.zip
frontend/jupytr/visualisations/unformatted_data/GW_2col/GW030233.1.1_20201210_2010-2015.zip
frontend/jupytr/visualisations/unformatted_data/GW_2col/GW030233.1.1_20201210_2015-2020.zip
frontend/jupytr/visualisations/unformatted_data/GW_2col/GW030233.1.3_20201210_2010-2010.zip
frontend/jupytr/visualisations/unformatted_data/GW_2col/GW030233.1.3_20201210_2010-2015.zip
frontend/jupytr/visualisations/unformatted_data/GW_2col/GW030233.1.3_20201210_2015-2020.zip
frontend/jupytr/visualisations/unformatted_data/GW_2col/GW036005.1.1_20201210_2010-2010.zip
frontend/jupytr/visualisations/unformatted_data/GW_2col/GW036005.1.1_20201210_2010-2015.zip
frontend/jupytr/visualisations/unformatted_data/GW_2col/GW036005.1.1_20201210_2015-2020.zip
frontend/jupytr/visualisations/unformatted_data/GW_2col/GW036005.1.2_20201210_2010-2010.zip
frontend/jupytr/visualisations/unformatted_data/GW_2col/GW036005.1.2_20201210_2010-2015.zip
frontend/jupytr/visualisations/unformatted_data/GW_2col/GW036005.1.2_20201210_2015-2020.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW030129.1.1_20201210_2007-2010.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW030129.1.1_20201210_2010-2015.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW030129.1.1_20201210_2015-2020.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW030130.1.1_20201210_2005-2007.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW030130.1.1_20201210_2007-2010.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW030130.1.1_20201210_2010-2015.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW030130.1.1_20201210_2015-2020.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW030130.1.2_20201210_2003-2005.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW030130.1.2_20201210_2005-2010.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW030130.1.2_20201210_2010-2015.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW030130.1.2_20201210_2015-2020.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW030130.1.2_20201210_2020-2020.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW030131.1.1_20201210_2007-2010.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW030131.1.1_20201210_2010-2015.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW030131.1.1_20201210_2015-2020.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW036186.1.1_20201210_2005-2005.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW036186.1.1_20201210_2005-2010.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW036186.1.1_20201210_2010-2015.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW036186.1.1_20201210_2015-2020.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW036187.1.1_20201210_2005-2010.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW036187.1.1_20201210_2010-2015.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW041027.1.1_20201210_2007-2010.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW041027.1.1_20201210_2010-2015.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW041027.1.1_20201210_2015-2020.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW967137.1.1_20201210_2005-2005.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW967137.1.1_20201210_2005-2010.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW967137.1.1_20201210_2010-2015.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW967137.1.1_20201210_2015-2020.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW967137.2.2_20201210_2005-2005.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW967137.2.2_20201210_2005-2010.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW967137.2.2_20201210_2010-2015.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW967137.2.2_20201210_2015-2020.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW967138.1.1_20201210_2005-2005.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW967138.1.1_20201210_2005-2010.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW967138.1.1_20201210_2010-2015.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW967138.1.1_20201210_2015-2020.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW967138.2.2_20201210_2007-2010.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW967138.2.2_20201210_2010-2015.zip
frontend/jupytr/visualisations/unformatted_data/GW_3col/GW967138.2.2_20201210_2015-2020.zip
