.gitignore
.git.old/
.vscode
.history
app/.vscode
lib/dbconfig.py
lib/emconfig.py
app/__pycache__
app-api/__pycache__
app/dev/gibbo_code/downloads
app/dev/realtimewater_api/data/test/downloads
app/formatting_scripts_rand
app/loading_scripts_rand
app/test
app/test2.py
bkup
data
database/
data_csvs
dockerfiles/mariadb/initialize-database.sql
dockerfiles/mariadb/initialize-database.sql.bak
dockerfiles/mariadb/src/initialize-database.sql
dockerfiles/mariadb/src/initialize-database.sql.bak
frontend/app-dash/all_training_data.csv
frontend/jupytr/visualisations/formatted_data/
frontend/jupytr/visualisations/unformatted_data/
workspace.code-workspace
venv/
vendor
frontend/jupytr/visualisations/elfin.csv
frontend/jupytr/visualisations/greengully.csv
frontend/jupytr/ScrapeTest/twitter_scrape_test.ipynb
lib/__pycache__
