dash==1.19.0
dash-bootstrap-components==0.11.1
dash-core-components==1.15.0
dash-extensions==0.0.44
dash-html-components==1.1.2
dash-leaflet==0.1.13
dash-renderer==1.9.0
dash-table==4.11.2
decorator==4.4.2
Flask==2.1.0
Flask-Caching==1.9.0
Flask-Compress==1.8.0
geobuf==1.1.1
geojson==2.5.0
geopandas==0.11.1
gunicorn==20.0.4
jinja2<3.1.0
numpy==1.19.5
pandas==1.2.0
plotly==4.14.3
protobuf==3.20.*
PyMySQL==1.0.2
PyPDF2==1.26.0
python-dateutil==2.8.1
requests==2.25.1
werkzeug==2.0.3